*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #B91450;
}
.container{
    padding: 20px;
}
h1{
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 20px 0;
}
.priceContainer{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.mainContent{
    background-color: white;
    border-radius: 50px;
    width: 80%;
    margin: auto;
}
.buttons{
    text-align: center;
}
h2{
    text-align: center;
    color: white;
    padding: 20px 0;
    text-transform: uppercase;
}
.bigliettoGenerato{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 20px;
}
.infoBiglietto{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}
.cardPasseggero{
    background-color: grey;
}
.containerDNone{
    display: none;
}
.dBlock{
    display: block;
}