*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #B91450;
    padding: 20px;
}
h1{
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 20px 0;
}
.priceContainer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.mainContent{
    background-color: white;
    border-radius: 50px;
}
.buttons{
    text-align: center;
}